<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.evote.evote">

    <application
        android:name=".eVoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".screens.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.eleicoes.ListaEleicoesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screens.CreditsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screens.EleicaoCompletaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screens.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screens.EleicaoSimplesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".screens.ListasActivity"
            android:label="@string/title_activity_candidato_detalhes"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>